asgiref
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
psycopg2-binary
python-dotenv
google-generativeai
google-auth
requests
gunicorn
django-allauth
dj-rest-auth
social-auth-app-django
django-redis